Django>=5.1
django-tables2
django-filter
django-htmx
django-crispy-forms
crispy-bootstrap5
whitenoise
Pillow
python-dotenv
gunicorn
django-ckeditor-5
psycopg[binary]
dj-database-url
requests
django-recaptcha
django-htmlmin
markdown
pymdown-extensions
pygments
djangorestframework
# Si usas SQLite, no necesitas agregarlo aquí, ya viene con Python