{% extends "landing/layouts/base.html" %}
{% load ui %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'docs/css/docs.css' %}">
{% endblock %}

{% block content %}
<div class="docs-container">
    <div class="docs-main">
        <div class="docs-content">
            {% block docs_content %}{% endblock %}
        </div>

        <div class="docs-back">
            <a href="{% url 'landing:index' %}">{% icon "arrow-left" %} Volver a Portfolio</a>
        </div>
    </div>

    {% block docs_toc %}{% endblock %}
</div>
{% endblock %}
