<section id="contact">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5 data-aos="fade-up">Contacto</h5>
            <h1 data-aos="fade-up" data-aos-delay="200">¿Hablamos?</h1>
        </div>
    </div>
    <div class="row contact-form">
        <div class="col-twelve" data-aos="fade-up" data-aos-delay="300">
            <form name="contactForm" id="contactForm" method="post" action="{% url 'landing:index' %}#contact">
                {% csrf_token %}
                <fieldset>
                    <div class="form-field">{{ form.nombre }}</div>
                    <div class="form-field">{{ form.email }}</div>
                    <div class="form-field">{{ form.asunto }}</div>
                    <div class="form-field">{{ form.mensaje }}</div>
                    <div style="margin: 20px 0;">{{ form.captcha }}</div>
                    <button class="submitform" type="submit"
                        style="background: #CC0052; color: white; width: 100%; height: 60px; font-weight: bold; border: none; cursor: pointer;">ENVIAR</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>