<button 
    {% if onclick %}onclick="{{ onclick }}"{% endif %}
    {% if tooltip %}title="{{ tooltip }}"{% endif %}
    class="fixed z-50 flex items-center justify-center rounded-full bg-{{ color }}-600 text-white shadow-lg hover:bg-{{ color }}-700 focus:outline-none focus:ring-4 focus:ring-{{ color }}-300 transition-all duration-300 hover:scale-110 w-14 h-14
           {% if position == 'bottom-right' %}bottom-8 right-8{% endif %}
           {% if position == 'bottom-left' %}bottom-8 left-8{% endif %}
           {% if position == 'top-right' %}top-8 right-8{% endif %}
           {% if position == 'top-left' %}top-8 left-8{% endif %}
           {{ classes }}">
    {% include "components_ui/elementos/icon.html" with name=icon size="w-7 h-7" %}
</button>
