<div class="{{ classes }}">
    {% if label %}
    <label for="{{ name }}" class="comp-label">
        {{ label }}{% if required %} <span class="text-error-600">*</span>{% endif %}
    </label>
    {% endif %}
    <div class="relative rounded-md shadow-sm">
        {% if icon %}
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            {% include "components_ui/elementos/icon.html" with name=icon size="w-5 h-5" classes="text-gray-400" %}
        </div>
        {% endif %}
        <input 
            type="date" 
            name="{{ name }}" 
            id="{{ name }}" 
            class="comp-input block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm {% if icon %}pl-10{% endif %} 
                   {% if disabled %}bg-gray-100 text-gray-500{% endif %}"
            value="{{ value }}"
            {% if required %}required{% endif %}
            {% if disabled %}disabled{% endif %}
        >
    </div>
</div>
