<div class="relative flex items-center group {{ classes }}">
    <!-- Slot for the element that triggers the tooltip -->
    {{ slot_content|default:'' }}
    
    <div class="absolute whitespace-nowrap bg-gray-900 text-white text-xs rounded py-1 px-2 z-50 transition-opacity duration-300 opacity-0 group-hover:opacity-100 pointer-events-none 
                {% if position == 'top' %}bottom-full mb-2 left-1/2 -translate-x-1/2
                {% elif position == 'bottom' %}top-full mt-2 left-1/2 -translate-x-1/2
                {% elif position == 'left' %}right-full mr-2 top-1/2 -translate-y-1/2
                {% elif position == 'right' %}left-full ml-2 top-1/2 -translate-y-1/2
                {% else %}bottom-full mb-2 left-1/2 -translate-x-1/2{% endif %}">
        {{ text }}
        <!-- arrow -->
        <div class="absolute w-2 h-2 bg-gray-900 transform rotate-45 
                    {% if position == 'top' %}top-full left-1/2 -translate-x-1/2 -mt-1
                    {% elif position == 'bottom' %}bottom-full left-1/2 -translate-x-1/2 -mb-1
                    {% elif position == 'left' %}left-full top-1/2 -translate-y-1/2 -ml-1
                    {% elif position == 'right' %}right-full top-1/2 -translate-y-1/2 -mr-1
                    {% else %}top-full left-1/2 -translate-x-1/2 -mt-1{% endif %}"></div>
    </div>
</div>
