<input
    type="hidden"
    name="{{ widget.name }}"
    {% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}
    data-recaptcha-lazy
    data-recaptcha-src="https://{{ recaptcha_domain }}/recaptcha/api.js?render={{ public_key }}{% if api_params %}&amp;{{ api_params }}{% endif %}"
    data-recaptcha-key="{{ public_key }}"
    {% if action %}data-recaptcha-action="{{ action }}"{% endif %}
>
